@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

@media (min-width: 1500px) {
    .container {
        max-width: 1460px;
    }
}

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #270000;

}
a {
    color: #270000 !important;
}

a:hover {
    color: #270000;
    text-decoration: none;
}

.menu-row {
    background-color: #dfd0b3;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: relative;
    padding: 0;
    z-index: 10;

}


.navbar-nav {
    width: 100%;
}
.site-menu {
    margin: auto;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    flex-direction: row
}
.menu-button {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
    background-color: #dfd0b3;
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-button:hover {
    background-color: #d3c2a2;

}
.collapsed .navbar-toggler-icon {
    background-image: url("~assets/img/menu-icon.png") !important;
}
.not-collapsed .navbar-toggler-icon{
    background-image: url("~assets/img/menu close.png") !important;
}

.navbar-toggler {
    border-radius: 0;
    border: none;
    float: right;
}
.navbar {
    width: 100%;
    height: 100%;
    background-color: #dfd0b3;
}
.navbar-collapse.show {
    height: 328px;
}

.nav-collapse {
    z-index: 50;
}
.container, .row {
    margin: auto;
}
.main-content {
    margin-bottom: 30px;
    padding: 0;
}



.pagination {
    margin: 30px auto;
}
.page-item.disabled .page-link, .page-item .page-link, .page-item:hover .page-link {
    color: #270000;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.2 !important;
    box-shadow: none;
    border: none;
}
.page-item.active .page-link {
    color: #270000;
    background-color: #f1eae0;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    box-shadow: none;
}
.pagination-next-button {
    background-image: url("~assets/img/arrow right.png");
    background-repeat: no-repeat;
    background-position: center;
}
.pagination-prev-button {
    background-image: url("~assets/img/arrow left.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-tabs {
    border: none;
    display: flex;
}
.nav-item {
    margin: auto;
}
.nav-tabs .nav-link {
    background-color: #dfd0b3 !important;
    border: none;
    border-radius: 0;
    padding: 17px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;


}
.nav-tabs .nav-link.active {
    background-color: #d3c2a2 !important;
}
.list-button, .list-button:hover, .list-button:active, .list-button:focus {
    background-color: white;
    width: 90%;
    color: #270000;
    font-weight: bold;
    text-align: left;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.list-button-dd, .list-button-dd:hover, .list-button-dd:active, .list-button-dd:focus {
    background-color: white;
    background-image: url("~assets/img/list-arrows.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.show > .btn-secondary.dropdown-toggle {
    background-color: white;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.collection-menu-button {
    width: 100%;
    color: #270000;
    font-size: 15px;
    border-bottom: solid #e5eff1 1px;
}
.dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: solid #cf6a40 3px;
    max-height: 560px;
    overflow: scroll;
}
